$palette-primary-color: #101010;
$palette-secondary-color: rgba(white, .9);

$view-padding-mobile: 20px 10px;
$view-padding-tablet: 20px;
$view-padding-desktop: 30px;

$view-padding-horizontal-mobile: 10px;
$view-padding-vertical-mobile: 20px;

$view-padding-horizontal-tablet: 20px;
$view-padding-vertical-tablet: 20px;

$view-padding-horizontal-desktop: 30px;
$view-padding-vertical-desktop: 30px;

$font-light-color: white;
$font-dark-color: rgba(black, .9);
